@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

/* START OF CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* END OF CSS RESET */


/* START OF CSS FOR THE ENTIRE HTML DOCUMENT */
body {
    background-color: rgba(122, 191, 191, .5);
    margin: 0 auto;
    min-width: 414px;
    width: 90vw;
}

main {
    background-color: #F2F2F2;
    min-width: 414px;
}

menu {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

menu li {
    align-items: center;
    color: #EB5428;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    padding: 5px;
    text-align: center;
}

menu li:hover {
    background-color: #7ABFBF;
    text-decoration: none;
}

img {
    width: 100%;
}

h1,
h2,
h3,
nav a,
nav span,
menu li,
#social li,
footer p {
    font-family: 'Bebas Neue', sans-serif;
}

h1 {
    font-size: 40px;
    padding-top: 185px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

h1,
h2 {
    margin: 10px auto;
    text-align: center;
}

nav a,
nav span,
menu li,
#social li,
footer p {
    font-size: 20px;
}

p,
dd,
.ingredients li,
.directions li,
nav,
input {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
/* END OF CSS FOR THE ENTIRE HTML DOCUMENT */


/* START OF CSS FOR ABOUT/INTRO IN HTML */
.about {
    width: 100%;
}

.about img {
    margin: 0 auto;
    width: 100%;
}

.about p {
    line-height: 25px;
    padding-top: 5px;
}

.detailsInfo {
    display: flex;
    margin: 0 10px 10px 5px;
}
/* END OF CSS FOR ABOUT/INTRO IN HTML */


/* START OF CSS FOR INGREDIENTS IN HTML */
.ingredients ul {
    padding-left: 15px;
}

.ingredients li {
    list-style-type: square;
    margin-bottom: 10px;
}

dt {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

dd {
    margin-left: 10px
}
/* END OF CSS FOR INGREDIENTS IN HTML */


/* START OF CSS FOR DIRECTIONS IN HTML */
.directions {
    margin: 0;
}

.directions ol {
    padding: 15px;
}

.directions li {
    line-height: 25px;
    padding-bottom: 10px;
    padding-left: 10px;
}
/* END OF CSS FOR DIRECTIONS IN HTML */


/* START OF CSS FOR ASIDE IN HTML */
aside {
    background-color: #7ABFBF;
    padding: 5px 0;
    width: auto;
}

aside h3 {
    margin-top: 0;
    margin-bottom: 0;
}

aside .sideDishes {
    display: grid;
    padding-bottom: 10px;
    padding-top: 10px;
}

aside article {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1.2fr 3fr;
    grid-template-rows: 35px auto auto;
    height: auto;
    margin: 10px;
}

article:hover {
    background-color: #EB5428;
}

article img {
    display: flex;
    height: auto;
    width: 80%;
}

article p,
.stars {
    grid-column: 2;
    margin: 0;
}

.stars p {
    font-weight: 700;
}
/* END OF CSS FOR ASIDE IN HTML */


/* START OF CSS FOR DROPDOWN MENU IN HTML */
#dropdownMenu {
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: auto;
    min-height: 84px;
    min-width: 414px;
    position: fixed;
    top: 0;
    width: 90vw;
    z-index: 1;
}

.home {
    align-items: center;
    background-color: #EB5428;
    color: #F2F2F2;
    display: flex;
    height: 84px;
    left: 20vw;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 52vw;
}

.homeInfo {
    margin: 5px 0;
}

nav ul {
    background-color: #F2F2F2;
    grid-column: 1/4;
    list-style: none;
    margin: 0;
    max-height: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

nav ul :hover {
    background-color: #EB5428;
    color: #FFFFFF;
}

nav img {
    display: none;
}

a {
    color: #EB5428;
    text-decoration: none;
}

label {
    cursor: pointer;
    grid-column: 1;
    padding: 7px 10px 7px;
    position: relative;
    user-select: none;
}

.menuButton input {
    display: none;
}

.menuButton {
    height: 0;
}

.menuIcon span {
    border-radius: 15%;
    display: grid;
    font-size: 20px;
    justify-items: center;
    margin-left: 10px;
    margin-top: 5px;
    width: 10vw;
}

.menuIcon span:hover,
.avatar:hover {
    transform: scale(1.1, 1.1);
}

.avatar {
    margin: 10px;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
}

.avatar a {
    color: black;
}

input:checked ~ ul {
    max-height: 400px;
}

input:checked ~ label:not(.steps) div:before,
input:checked ~ label:not(.steps) div:after {
    top: 0;
}

input:checked + label span svg {
    background-color: #7ABFBF;
    border-radius: 20%;
    transform: rotate(90deg);
}

label span svg {
    border-radius: 50%;
}

#navHiddenText {
    display: none;
}
/* END OF CSS FOR DROPDOWN MENU IN HTML */


/* START OF CSS FOR SEARCH BAR IN HTML */
#search {
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 414px;
}

.searchBar {
    display: flex;
    left: 10px;
    position: relative;
    top: 120px;
}

.searchBar input {
    border: 3px solid #EB5428;
    height: inherit;
    padding-left: 10px;
    width: 300px;
}

button {
    background-color: #EB5428;
    border: 3px solid #EB5428;
    cursor: pointer;
    height: 50px;
    width: 50px;
}

button svg {
    stroke: #F2F2F2;
}

#searchHiddenText {
    display: none;
}
/* END OF CSS FOR SEARCH BAR IN HTML */


/* START OF CSS FOR FOOTER IN HTML */
footer {
    background-color: #F2F2F2;
    padding: 40px 0 20px;
}

footer img {
    display: block;
    margin: 0 auto;
    width: 50%;
}

footer p {
    padding: 5px;
    text-align: center;
}

#social ul {
    color: #EB5428;
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style-type: none;
    margin: 0 auto;
    padding-bottom: 10px;
}

#social ul :hover {
    background-color: #7ABFBF;
    text-decoration: none;
}

#social li {
    display: grid;
    justify-content: space-around;
    justify-items: center;
    margin: 0 auto;
    padding: 10px;
    width: 55px;
}

#connectHiddenText {
    display: none;
}

#socialHiddenText {
    display: none;
}

#goodEatsHiddenText {
    display: none;
}
/* END OF CSS FOR FOOTER IN HTML */


/* START OF CSS FOR MEDIA QUERIES IN HTML */
@media screen and (min-width: 414px) {

    p,
    ul,
    ol,
    dl {
        margin-left: 10px;
    }

}

@media screen and (min-width: 768px) {

    body,
    nav ul,
    .about,
    menu {
        width: 768px;
    }

    nav ul {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        margin-top: 5px;
        overflow: visible;
    }

    nav img {
        display: block;
        height: auto;
        width: 50%;
    }

    label {
        display: none;
    }

    h1 {
        margin-left: 20px;
        text-align: left;
    }

    h2 {
        margin-top: 10px;
    }

    menu {
        background-color: rgba(242, 242, 242, 0.561);
        padding-top: 10px;
        position: absolute;
    }

    dl {
        align-content: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    .home {
        height: auto;
        left: 0;
        padding: 5px;
        width: 70px;
    }

    .homeInfo {
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
        grid-row: 1;
        justify-content: center;
    }

    #dropdownMenu {
        grid-template-rows: 70px 100px;
        width: 768px;
    }

    #search {
        z-index: 3;
    }

    .searchBar {
        left: 457px;
        position: fixed;
        right: 100px;
        top: 10px;
    }

    .gridColumns {
        display: grid;
        grid-template-columns: 40% 60%;
    }

    .directions ol {
        padding-top: 0;
    }

    .sideDishes {
        grid-template-columns: 1fr 1fr;
    }

    .sideDishes img {
        width: 100%;
    }

    footer {
        display: flex;
        flex-direction: row-reverse;
        padding-right: 20px
    }
}

@media screen and (min-width: 1280px) {

    body,
    nav ul,
    .about,
    #dropdownMenu {
        width: 1280px;
    }

    nav ul {
        display: grid;
        grid-column: 2;
        grid-template-rows: 1fr;
        justify-items: center;
        max-width: 900px;
    }

    h1 {
        margin-bottom: 20px;
        margin-top: 40px;
        text-align: center;
    }

    menu {
        background-color: #FFFFFF;
        border: 3px solid #EB5428;
        display: flex;
        flex-direction: column;
        height: 686px;
        justify-content: flex-start;
        padding: 10px 0;
        width: 123px;
    }

    menu li {
        margin: 0;
        padding-top: 30px;
    }

    dl {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    #dropdownMenu {
        grid-template-columns: 15% 70% 15%;
        height: 40px;
        z-index: 10;
    }

    .home {
        height: 72px;
    }

    .homeInfo {
        width: 100px;
    }

    .avatar {
        margin-right: 50px;
    }

    .searchBar {
        left: auto;
        padding-bottom: 20px;
        position: absolute;
        right: 500px;
        top: 135px;
        z-index: 2;
    }

    .about {
        display: grid;
        grid-template-columns: 10% 40% 50%;
    }

    .about img {
        grid-column: 2;
        height: 710px;
    }

    .intro {
        grid-column: 3;
    }

    #details {
        background-color: #000;
        color: #7ABFBF;
        padding: 10px 0;
    }

    #details h2 {
        margin-top: 0;
    }

    .detailsInfo {
        flex-direction: column;
        text-align: center;
    }

    .gridColumns {
        grid-template-columns: 20% 80%;
    }

    .sideDishes {
        grid-template-columns: repeat(4, 1fr);
    }

    aside article {
        grid-template-columns: 245px !important;
        grid-template-rows: 240px 35px 25px 30px !important;
        row-gap: 0;
    }

    article img {
        height: auto;
        max-width: 235px;
    }

    article img,
    article p,
    article h3,
    .stars {
        grid-column: 1/3;
    }

    footer {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .goodEats {
        display: inline-flex;
    }

    .goodEats img {
        width: 45%;
        margin: 0 0 0 20px
    }

    #social {
        width: 50%;
    }
}
/* END OF CSS FOR MEDIA QUERIES IN HTML */